// Template: Home
// ============================================================================


.t-team-profile--image {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  background-color: red;
}