// Template: Marketing Page
// ============================================================================
//

.t-marketing--logo {
  @include --small-up {
    width: 350px;
    height: 200px;
  }

  @include --medium-up {
    width: 400px;
    height: 320px;
  }
}

.t-feature--item {
  // border-bottom: 1px solid transparentize($color-black, 0.9);
  
  @include --small-up {
    &:not(:last-child) {
      border-right: 1px solid transparentize($color-black, 0.9);
    }
  }
}

.t-marketing--features {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -37vw;
    left: 0;
    right: 0;
    display: block;    
    height: 45vw;
    width: 100vw;
    background: $color-offwhite;
    transform: skew(0, -7deg);
    z-index: $z1-depth;

    @include --small-up {
      top: -15vw;
      height: 30vw;
    }
  }
}