// Utilities: Text Color
// ============================================================================

@each $color-name, $color-value in $color-map {
    .u-color-#{$color-name} {
        color: $color-value;
    }
}

.u-color--brand-primary {
  color: $color-brand-primary;
}

.u-color--brand-secondary {
  color: $color-brand-secondary;
}