---
layout: default
---

<header class="u-width-full u-flexbox u-bg-white u-color-black u-padding-top-md u-padding-bottom-md u-padding-left-md u-padding-right-md u-shadow--cool">
  <div class="u-flex-expand u-uppercase u-text-size-small u-padding-left-sm u-padding-right-sm">Chilly</div>
  <div class="u-flex-shrink u-uppercase u-text-size-small u-padding-left-sm u-padding-right-sm">Features</div>
  <div class="u-flex-shrink u-uppercase u-text-size-small u-padding-left-sm u-padding-right-sm">Team</div>
  <div class="u-flex-shrink u-uppercase u-text-size-small u-padding-left-sm u-padding-right-sm">Contact</div>
</header>

<div class="u-width-full c-hero">

  <div class="u-measure-wide u-mx-auto u-padding-left-sm u-padding-right-sm">
    <div class="u-flexbox u-flex-column u-margin-top-xl">
      <div class="u-flex">
        <h1 class="u-bold u-margin-bottom-md">Chilly</h1>

        <h4 class="u-margin-bottom-md">Commerical and industrial temperature sensors to make life better.</h4>

        <h4>Minor text blahblah</h4>
      </div>

      <div class="c-hero--cta u-margin-top-lg">

        <a class="c-button">Learn more</a>

        <a class="c-button u-margin-left-lg">Interested?</a>

      </div>
    </div>

    <div class="c-cta u-measure-medium--medium-up">

      <form action="mailchimp" method="put" accept-charset="utf-8" class="validate c-cta--form u-margin-left-sm--small-only u-margin-right-sm  u-margin-right-md--small-up u-margin-right-xl--medium-up">
        <div class="u-flexbox u-flex-column--small-only u-width-full u-width-2of3--small-up u-mx-auto--small-up">
        
          <input type="email" name="" class="c-cta--input u-border-0 u-padding-left-md u-padding-right-xs u-padding-top-md u-padding-bottom-md u-margin-bottom-sm--small-only u-text-size-base u-width-full u-flex-grow">

          <input type="submit" value="Invite Me" name="subscribe" id="mc-embedded-subscribe" class="c-button u-italic u-margin-left-sm--medium-up u-margin-left-sm--small-up u-flex-shrink">

          </div>
      </form>

    </div>

  </div>

</div> <!-- /c-cta -->

<div class="u-measure-wide u-mx-auto u-padding-left-sm u-padding-right-sm u-padding-top-xl u-margin-top-xl u-margin-bottom-md">
  
  <!-- Feature 1 -->
  <div class="u-flexbox u-flex-column--small-only">
    
    <div class="u-flex-expand u-width-2of3--small-up">
      <div class="u-padding-right-xs u-padding-left-xs u-mx-auto">
        <img src="http://placehold.it/600x400" alt="">
      </div>
    </div>

    <div class="u-flex-expand u-width-1of3--small-up u-padding-left-md">

      <div class="c-card u-mx-auto u-flex-column">

        <h3 class="c-card--title u-margin-bottom-sm">
          Lolasaurus-rex
        </h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>

      </div>

    </div>

  </div>

</div>

<div class="u-measure-wide u-mx-auto">
  
  Something here for team members... I have no idea what right now i'm tired

</div>

