---
layout: default
---
<header id="header" class="u-px-md u-padding-top-lg u-padding-bottom-lg">
  

  <h1 class="u-bold u-margin-bottom-lg u-margin-top-lg">Chilly Technologies</h1>
  <h2 class="u-text-weight-light">Networked. Affordable. Temperature sensors.</h2>
  <nav class="u-margin-top-lg u-margin-bottom-lg u-margin-left-lg u-border-left-primary">
    <ul class="u-list-reset">
      <li class="u-inline-block u-margin-left-lg u-uppercase u-text-size-small u-bold u-py-md"><a href="#features" title="Features">Features</a></li>
      <li class="u-inline-block u-margin-left-lg u-uppercase u-text-size-small u-bold u-py-md"><a href="#pricing" title="Pricing">Pricing</a></li>
      <li class="u-inline-block u-margin-left-lg u-uppercase u-text-size-small u-bold u-py-md"><a href="#team" title="The Team">The Team</a></li>
    </ul>
  </nav>

</header><!-- /header -->


<div class="u-full-vw u-px-md u-py-lg" id="features">
  <h1 class="u-bold u-margin-bottom-lg">Features</h1>
  <div class="u-mobile-flexbox">
    <div class="u-width-1of3 u-flex u-margin-bottom-lg u-margin-right-md">
      <h4 class="u-bold u-margin-bottom-md">A Feature</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat.</p>
    </div>
    <div class="u-width-1of3 u-flex u-margin-bottom-lg u-margin-right-md">
      <h4 class="u-bold u-margin-bottom-md">A Feature</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat.</p>
    </div>
    <div class="u-width-1of3 u-flex u-margin-bottom-lg u-margin-right-md">
      <h4 class="u-bold u-margin-bottom-md">A Feature</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat.</p>
    </div>
  </div>
</div>

<div class="u-measure-wide u-py-lg u-mx-auto u-px-md" id="pricing">
  <h1 class="u-bold u-margin-bottom-lg">Pricing</h1>
  <p class="u-py-md">Pricing is simple.</p>
  <h1 class="u-text-size-huge u-align-center u-bold u-py-md">$5 / sensor / month</h1>
  <p class="u-py-md">Don't want to pay for the units?</p>
  <h1 class="u-text-size-huge u-align-center u-bold u-py-md">+$5 / sensor / month</h1>
  <p class="u-py-md">That's it. No obscene hidden fees. No paywalled features.</p>
  <h3 class="u-bold u-padding-bottom-md u-padding-top-lg">Interested?</h3>
  <p class="u-text-size-large">Get in touch! <a href="mailto:team@chilly.tech">team@chilly.tech</a></p>
</div>

<div class="u-measure-wide u-px-md u-mx-auto u-padding-top-lg u-padding-bottom-lg" id="team">
  <h1 class="u-bold u-margin-bottom-lg">The Team</h1>
  <div class="u-width-full u-mobile-flexbox u-px-md u-padding-bottom-lg">
    <div class="u-align-middle u-flex u-width-1of3">
      <div class="u-circle t-team-profile--image u-mx-auto" style="background-image: url('http://placehold.it/300x300')"></div>
    </div>
    <div class="u-width-2of3 u-flex">
      <h5 class="u-uppercase u-padding-bottom-md u-padding-top-md">Team member 1</h5>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <div class="u-width-full u-mobile-flexbox u-px-md u-padding-bottom-lg">
    <div class="u-align-middle u-flex u-width-1of3">
      <div class="u-circle t-team-profile--image u-mx-auto" style="background-image: url('http://placehold.it/300x300')"></div>
    </div>
    <div class="u-width-2of3 u-flex">
      <h5 class="u-uppercase u-padding-bottom-md u-padding-top-md">Team member 1</h5>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <div class="u-width-full u-mobile-flexbox u-px-md u-padding-bottom-lg">
    <div class="u-align-middle u-flex u-width-1of3">
      <div class="u-circle t-team-profile--image u-mx-auto" style="background-image: url('http://placehold.it/300x300')"></div>
    </div>
    <div class="u-width-2of3 u-flex">
      <h5 class="u-uppercase u-padding-bottom-md u-padding-top-md">Team member 1</h5>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <div class="u-width-full u-mobile-flexbox u-px-md u-padding-bottom-lg">
    <div class="u-align-middle u-flex u-width-1of3">
      <div class="u-circle t-team-profile--image u-mx-auto" style="background-image: url('http://placehold.it/300x300')"></div>
    </div>
    <div class="u-width-2of3 u-flex">
      <h5 class="u-uppercase u-padding-bottom-md u-padding-top-md">Team member 1</h5>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
</div>

<footer class="u-py-md">
  <p class="u-text-size-small u-align-center">Copyright Chilly Techonologies 2016</p>
</footer>